Repository Yoast/search-index-purge, pull requests merged in 2018-06, with the labels that each got.

#40 Add `.gitattributes` file
  .gitattributes
Labels: yoast cs

#41 Travis: various tweaks
  .travis.yml
Labels: needs-code-review

#42 CS: minor whitespace fixes
  src/Yoast_Purge_Options.php
  src/Yoast_Purge_Plugin.php
Labels: yoast cs

#39 Composer: flesh out the `composer.json` file
  .gitignore
  composer.json
Labels: yoast cs

#43 CS/QA: strict comparisons
  src/Yoast_Purge_Attachment_Page_Server.php
  src/Yoast_Purge_Options.php
Labels: in progress, yoast cs

#44 Documentation: various updates
  src/Yoast_Purge_Attachment_Page_Server.php
  src/Yoast_Purge_Attachment_Sitemap.php
  src/Yoast_Purge_Attachment_Sitemap_Provider.php
  src/Yoast_Purge_Control_Yoast_SEO_Settings.php
  src/Yoast_Purge_Media_Settings_Tab_Content.php
  src/Yoast_Purge_Options.php
  src/Yoast_Purge_Plugin.php
  src/Yoast_Purge_Require_Yoast_SEO_Version.php
Labels: yoast cs

#49 Exclude newly added attachments from the 410-sitemap
  src/Yoast_Purge_Attachment_Sitemap.php
  src/Yoast_Purge_Attachment_Sitemap_Provider.php
Labels: in progress

#37 Fix saving search appearance tab lose setting value
  src/Yoast_Purge_Control_Yoast_SEO_Settings.php
  src/Yoast_Purge_Options.php
  src/Yoast_Purge_Plugin.php
  src/Yoast_Purge_Upgrade.php
  yoast-seo-search-index-purge.php
Labels: in progress

#50 CS: minor touch up
  src/Yoast_Purge_Attachment_Sitemap.php
  src/Yoast_Purge_Attachment_Sitemap_Provider.php
  src/Yoast_Purge_Plugin.php
Labels: in progress, yoast cs

#51 CS/Docs: minor touch up [2]
  src/Yoast_Purge_Options.php
  src/Yoast_Purge_Plugin.php
  src/Yoast_Purge_Upgrade.php
Labels: in progress, yoast cs

#52 Rename class files
  src/attachment-page-server.php
  src/attachment-sitemap-provider.php
  src/attachment-sitemap.php
  src/control-yoast-seo-settings.php
  src/media-settings-tab-content.php
  src/options.php
  src/plugin.php
  src/require-yoast-seo-version.php
  src/upgrade.php
  yoast-seo-search-index-purge.php
Labels: in progress, yoast cs

#53 Build: Add phpcs ruleset and travis check
  .gitattributes
  .gitignore
  .phpcs.xml.dist
  .travis.yml
  composer.json
  src/attachment-page-server.php
  src/require-yoast-seo-version.php
Labels: in progress, yoast cs
